<nav>
  <ul class="remote-menu">
    <li>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Home
      </a>
    </li>
    <li>
      <a routerLink="mfe_angular" routerLinkActive="active">
        Angular MFE
      </a>
    </li>
    <li>
      <a routerLink="mfe_react" routerLinkActive="active">
        React MFE
      </a>
    </li>
    <li>
      <a routerLink="mfe_react_alternate" routerLinkActive="active">
        React MFE (Alt)
      </a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
